:root {
  --background: #18181a;
  --header-footer: #232328;
  --strip-bg: #25262a;
  --accent: #2fffa5;
  --text: #e3e3e5;
  --button-bg: #282830;
  --step-off: #323234;
}
/* Matrix theme */
[data-theme="matrix"] {
  --accent: #39ff14;
  --strip-bg: #162116;
}
/* Light theme */
[data-theme="light"] {
  --background: #f3f4fa;
  --header-footer: #e3e3eb;
  --strip-bg: #f8f8fc;
  --accent: #215ff0;
  --text: #2b2c31;
  --button-bg: #f3f4fa;
  --step-off: #e0e0e8;
}
