/* --- Channel Elements --- */
.channel {
    display: flex;
}

.ordinal-loaded {
    border: 2px solid #f7931a;
}

/* --- Button Styles --- */

/* Common styles for buttons */
#play, #stop, .clear-button, .mute-button, .solo-button {
    flex: 1;
    width: 50px;
    height: 50px;
}

.clear-button, .mute-button, .solo-button {
    min-width: 18px;
    max-width: 18px;
    aspect-ratio: 1 / 1;
}

.letter {
    z-index: 1;
    font-size: 16px;
    position: relative;
    left: -5px;
    top: -3px;
    color: rgb(0, 0, 0);
}

#play {
    animation: flash 2s infinite ease-in-out;
}

#play.selected,
#stop.selected ~ #play {
    animation: none;
}

#stop.selected ~ #play,
.mute-button.selected,
.solo-button.selected {
    background-color: var(--accent-color);
}

/* Style for letters inside selected buttons */
#play.selected .letter,
#stop.selected ~ #play .letter,
.step-button.selected .letter,
.mute-button.selected .letter,
.solo-button.selected .letter {
    color: white;
}

/* Specific button colors */
.clear-button {
    background-color: rgb(153, 153, 2);
}

.mute-button {
    background-color: #800;
}

.solo-button, .solo-button.selected {
    background-color: rgb(177, 105, 33);
}

.solo-button.selected {
    background-color: rgb(255, 128, 0);
}

.step-button {
    position: relative;
    min-width: 0;
    aspect-ratio: 1 / 1;
    background-color: #555;
    color: #fff;
    max-width: 20px;
    max-height: 20px;
}

/* Override the light blue style for every 4th step button when selected */
.step-button.selected,
.step-button.selected:nth-child(4n+1):not(:nth-child(16n+1)),
.step-button.selected:nth-child(16n+1) {
    background-color: var(--sample-button-color, red);
}

/* Styles for unselected light blue and yellow buttons */
.step-button:nth-child(4n+1):not(:nth-child(16n+1)) {
    background-color: #add8e6; /* Light blue */
}

.step-button:nth-child(16n+1) {
    background-color: #ffff00; /* Yellow */
}

/* Color classes for the step-buttons */
.step-button.color-FF0000 { background-color: #FF0000; }
.step-button.color-00FF00 { background-color: #00FF00; }
.step-button.color-0000FF { background-color: #0000FF; }
.step-button.color-FFFF00 { background-color: #FFFF00; }
.step-button.color-00FFFF { background-color: #00FFFF; }
.step-button.color-FF00FF { background-color: #FF00FF; }
.step-button.color-808080 { background-color: #808080; }
.step-button.color-FFFFFF { background-color: #FFFFFF; }
.step-button.color-FFA500 { background-color: #FFA500; }
.step-button.color-800080 { background-color: #800080; }
.step-button.color-008080 { background-color: #008080; }
.step-button.color-000080 { background-color: #000080; }
.step-button.color-800000 { background-color: #800000; }
.step-button.color-008000 { background-color: #008000; }
.step-button.color-FFC0CB { background-color: #FFC0CB; }
.step-button.color-D2691E { background-color: #D2691E; }

.load-sample-button {
    flex: 1;
    overflow: auto;
    text-overflow: ellipsis;
    font-size: 0.8em;
    height: 20px;
    max-width: 15%;
    min-width: 10%;
    padding: 1px;
    font-weight: bold;
    /* Define a CSS variable for the button's color */
    --sample-button-color: currentColor;
}

.load-sample-button:hover::after {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--primary-color);
    color: var(--main-bg-color);
    z-index: 1;
}
