/* optimizedStyles.css */

/* Base styles */
html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #2d2d2d, #434343);
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 4px solid #fff;
}

.drag-header {
  width: 100%;
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: move;
}

.synth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0px 20px 20px;
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: scale(0.6);
}

.controls-column, .arpeggiator-controls, .timing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.arpeggiator-button-row, .control-pair, .buttons-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.arpeggiator-button-row button {
  flex: 1;
  min-width: 100px;
  max-width: 150px;
  margin: 5px;
}

label {
  display: block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

input[type="range"],
input[type="number"],
select {
  width: 100%;
  margin-top: 5px;
}

button {
  background-color: #2d2d2d;
  color: #0fafff;
  border: none;
  padding: 3px 3px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 10px 0;
  width: calc(25%);
}

/* Mute button styles */
#mute {
  background-color: #862727;
  width: 100%;
  color: #fff;
  font-weight: bold;
}

#mute.on {
  background-color: #ff0000;
  box-shadow: 0 0 15px #ff0000;
  color: black
}

/* Latch Mode button styles */
#latchMode {
  background-color: #580b0b;
  color: #fff;
}

#latchMode.on {
  background-color: #ff0000;
  box-shadow: 0 0 15px #ff0000;
}

/* Add Rest button styles */
#addRest {
  background-color: #0f374b;
  color: #fff;
}

#addRest.flash {
  animation: flash-add-rest 0.4s;
}

@keyframes flash-add-rest {
  0%, 100% {
    background-color: #0f374b;
  }
  50% {
    background-color: #00aaff;
  }
}

/* Delete Note button styles */
#deleteLastNote {
  background-color: #471b1b;
  color: #fff;
}

#deleteLastNote.flash {
  animation: flash-delete-note 0.4s;
}

@keyframes flash-delete-note {
  0%, 100% {
    background-color: #471b1b;
  }
  50% {
    background-color: #ff4500;
  }
}

/* Start Arpeggiator button styles */
#startStopArp {
  background-color: #006400;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  font-weight: bold;
}

#startStopArp.on {
  background-color: #00ff00;
  box-shadow: 0 0 15px #00ff00;
  color: black;
}

#synth-frame {
  width: 100%;
  height: 100%;
  border: none;
}
