    /* audio-trim-module.css */


.waveform-container { position: relative; width: 100%; height: 200px; background: #f3f3f3; border: 1px solid #000; }
        canvas, .dimmed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
        canvas { display: block; }
        .slider { width: 100%; }
        .dimmed { background: rgba(0, 0, 0, 0.5); }
        .loop-button.on { background-color: green; }
        .loop-button.off { background-color: red; }


        /* General slider style */
        
.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background: transparent;
    outline: none;
    opacity: 0.7;
    height: 2px;
    margin: 10px 0;
    flex: 1; /* This makes sliders take equal space */

}

/* Slider thumb styles (common) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: solid 10px transparent;
    cursor: pointer;
    position: relative;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: solid 10px transparent;
    cursor: pointer;
    position: relative;
}

/* Specific styles for start and end sliders */
#startSlider::-webkit-slider-thumb {
    border-right-color: green; /* Adjusted for rotation */
    border-left-width: 0;
    transform: translateY(-50%) rotate(90deg); /* Rotated 90 degrees clockwise */
}

#startSlider::-moz-range-thumb {
    border-right-color: green;
    border-left-width: 0;
    transform: translateY(-50%) rotate(90deg);
}

#endSlider::-webkit-slider-thumb {
    border-left-color: red; /* Adjusted for rotation */
    border-right-width: 0;
    transform: translateY(50%) rotate(-90deg); /* Rotated 90 degrees counterclockwise */
}

#endSlider::-moz-range-thumb {
    border-left-color: red;
    border-right-width: 0;
    transform: translateY(50%) rotate(-90deg);
}

/* Hide the slider track (for most browsers) */
.slider::-webkit-slider-runnable-track {
    background: transparent;
}

.slider::-moz-range-track {
    background: transparent;
}

.slider::-ms-track {
    background: transparent;
}

/* Additional CSS to overlay sliders */
#startSlider, #endSlider {
    position: absolute;
    top: 100%; /* Adjust as needed to position within the waveform container */
    z-index: 10; /* Ensures sliders are above the dimmed areas */
}

#startSlider {
    z-index: 11; /* Ensures start slider is above the end slider */
}