
 .floatingWindow {
   position: fixed;
   top: 10%;
   left: 10%;
   width: 80%;
   height: 80%;
   background-color: white;
   border: 2px solid black;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
   overflow: hidden;
   resize: both;
   z-index: 1000;
   padding: 10px;
 }
 .controlButton {
   position: absolute;
   top: 5px;
   right: 50px;
 }
