
.titleBar {
  background-color: rgb(54, 54, 54); /* Bright yellow for visibility */
  color: rgb(255, 255, 255); /* Bright red text for visibility */
  padding: 10px;
  cursor: move;
  text-align: center;
  z-index: 1000; /* Ensures it's on top */
}


 .floatingWindow {
   position: fixed;
   top: 0%;
   left: 10%;
   width: 40%;
   height: 100%;
   background-color: rgb(0, 0, 0);
   border: 5px solid black;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
   overflow: hidden;
   resize: both;
   z-index: 1000;
   
 }
 .controlButton {
   position: absolute;
   top: 5px;
 }

.closeButton {
   position: absolute;
   top: 5px;
   right: 10px;
   cursor: pointer;
   font-size: 20px;
   color: red;
}


.controls-row {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between items */
  margin-bottom: 20px;
}

.project-settings {
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Space between project settings and other buttons */
}

.controls-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.controls-row select {
  margin-top: 5px;
}

.controls-row button {
  padding: 10px 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls-row button:hover {
  background-color: #0056b3;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 100%;
}


#mute {
  margin-left: -1000px; /* Space between "Open Effects Module" and "Mute" button */
}
