
.titleBar {
  background-color: rgb(0, 98, 255); /* Bright yellow for visibility */
  color: rgb(255, 0, 247); /* Bright red text for visibility */
  padding: 10px;
  cursor: move;
  text-align: center;
  z-index: 1000; /* Ensures it's on top */
}


 .floatingWindow {
   position: fixed;
   top: 10%;
   left: 10%;
   width: 25%;
   height: 80%;
   background-color: white;
   border: 2px solid black;
   box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
   overflow: hidden;
   resize: both;
   z-index: 1000;
   padding: 10px;
   
 }
 .controlButton {
   position: absolute;
   top: 5px;
   right: 50px;
 }

.closeButton {
   position: absolute;
   top: 5px;
   right: 10px;
   cursor: pointer;
   font-size: 20px;
   color: red;
}

