#cv, body {background: #000;display: flex;justify-content: center;align-items: center;height: 100vh;}

#title-display-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9999;
    pointer-events: none; /* Make it non-interactive */
}

#project-name-display, 
#by-display, 
#artist-name-display, 
#visual-artist-display, 
#visual-artist-name-display {
    opacity: 0;
    font-weight: bold;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the text exactly */
    width: auto;
    white-space: nowrap; /* Prevent wrapping */
    margin: 0; /* Ensure no additional margin */
    padding: 0; /* Ensure no additional padding */
    line-height: normal; /* Ensure consistent line height */
    font-size: 50px; /* Default font size, adjust individually in JavaScript */
}
