/* Button styles */
/* Base button styles */


/* Base button styles */
button {
  padding: 5px;
  cursor: pointer;
  border: none;
  font-size: 16px; /* Uniform font size for all buttons */
  margin: 4px 2px;
  border-radius: 8px;
  text-align: center;
  display: inline-block;
  transition: background-color 0.4s ease; /* Smooth transition for background color */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Specific styles for save and control buttons */
.save-button {
  background: #4CAF50; /* Green background for save button */
}

.control-btn {
  width: 30%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd; /* Example border color */
  background: #f4f4f4; /* Light grey background */
  color: #333; /* Dark text for better readability */
}

/* Enhanced record button styles */
.record-btn {
  background-color: #6b1b1b; /* Off state: dark grey */
  color: white;
  min-width: 160px; /* Minimum width to fit longest text */
  min-height: 30px; /* Minimum height to fit longest text, adjust as needed */
}

.record-btn:hover {
  background-color: #882424; /* Hover state: lighter grey (no green) */
}

.record-btn.toggled {
  background-color: #d70000; /* Toggled state: dark red */
  animation: flashRed 0.5s infinite alternate;
}

@keyframes flashRed {
  from {
    box-shadow: 0 0 10px #ffabab; /* Brighter red glow */
  }
  to {
    box-shadow: 0 0 20px #ffffff; /* Even brighter red glow */
  }
}

/* Play button styles */
.play-recording-btn {
  background-color: #4CAF50; /* Initial green color */
  color: white;
  min-width: 160px; /* Minimum width to fit longest text, adjust as needed */
  min-height: 30px; /* Minimum height to fit longest text, adjust as needed */
}

.play-recording-btn:active {
  background-color: #2e7d32; /* Active state: darker green */
}

.play-recording-btn.toggled {
  background-color: #007bff; /* Blue to indicate playback mode */
  box-shadow: 0 0 10px #007bff; /* Glow effect */
}
