/* Base styles */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to top, #2d2d2d, #434343);
  color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px; /* Adjusted maximum width for better fitting */
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 4px solid #fff; /* Reduced border width */
}

.drag-header {
  width: 100%;
  background-color: #444;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: move;
}

.synth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  padding-top: 0; /* Remove top padding */
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transform: scale(0.6); /* Initial smaller scale to fit */

}

.controls-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.arpeggiator-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.arpeggiator-button-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap; /* Allow buttons to wrap on smaller screens */
}

.arpeggiator-button-row button {
  flex: 1; /* Ensure buttons take equal space */
  min-width: 100px; /* Minimum width for buttons */
  max-width: 150px; /* Maximum width for buttons */
  margin: 5px; /* Margin between buttons */
}

.control-pair {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.buttons-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.timing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

label {
  display: block;
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

input[type="range"],
input[type="number"],
select {
  width: 100%;
  margin-top: 5px;
}

button {
  background-color: #2d2d2d;
  color: #0fafff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.3s, box-shadow 0.3s;
  margin: 10px 0;
  width: calc(100% - 20px); /* Full width minus padding */
}

/* Mute button styles */
#mute {
  background-color: #862727; /* Dark red */
  color: #fff;
}

#mute.on {
  background-color: #ff0000; /* Bright red */
  box-shadow: 0 0 15px #ff0000; /* Glow effect */
}

/* Latch Mode button styles */
#latchMode {
  background-color: #580b0b; /* Dark red */
  color: #fff;
}

#latchMode.on {
  background-color: #ff0000; /* Bright red */
  box-shadow: 0 0 15px #ff0000; /* Glow effect */
}

/* Add Rest button styles */
#addRest {
  background-color: #0f374b; /* Default dark color */
  color: #ffffff; /* White color */
}

#addRest.flash {
  animation: flash-add-rest 0.4s;
}

@keyframes flash-add-rest {
  0%, 100% {
    background-color: #0f374b; /* Default dark color */
  }
  50% {
    background-color: #00aaff; /* Flash color */
  }
}

/* Delete Note button styles */
#deleteLastNote {
  background-color: #471b1b; /* Default dark color */
  color: #ffffff; /* White color */
}

#deleteLastNote.flash {
  animation: flash-delete-note 0.4s;
}

@keyframes flash-delete-note {
  0%, 100% {
    background-color: #471b1b; /* Default dark color */
  }
  50% {
    background-color: #ff4500; /* Flash color */
  }
}

/* Start Arpeggiator button styles */
#startStopArp {
  background-color: #006400; /* Dark green */
  color: #fff;
}

#startStopArp.on {
  background-color: #00ff00; /* Bright green */
  box-shadow: 0 0 15px #00ff00; /* Glow effect */
}

html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.synth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#synth-frame {
  width: 100%;
  height: 100%;
  border: none;
}
