body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: auto; /* Ensure content is scrollable if it overflows */
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns as needed */
    gap: 20px; /* Spacing between grid items */
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 80vw; /* Adjust based on your preference */
    max-height: 80vh; /* Adjust based on your preference */
    overflow: auto; /* Make the container scrollable */
}

.control-group {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between label and input */
}

label {
    display: block;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #555;
    background-color: #222;
    color: #ddd;
}

button {
    grid-column: span 4; /* Make the play button span across all columns */
    font-weight: bold;
    padding: 10px;
    background-color: #0a84ff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #006fd6;
}
