/* --- Containers & Layout --- */
.steps-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 0px;
    justify-content: space-around; /* Adjust the alignment of buttons */
}

.button-container, .subtext-container {
    display: center;
    align-items: center;
}

.quickplay-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.channel-controls {
    margin-top: 0px;
}

/* --- Steps and Sequence Light Styles --- */
#sequence-lights {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-left: 10%;
}

.sequence-light {
    grid-column: span 1;
    height: 15px;
    background-color: grey;
}

.sequence-light.on {
    background-color: greenyellow;
}

/* --- LOWER Button and Container Styles --- */
.new-button-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
}
/* CSS for evenly spacing "Quick Play" buttons between the checkbox and "Save/Load" buttons */
.button-container {
    align-items: center;
    justify-content: space-between; /* Space items evenly */
  }
  
  #save-button, #load-button {
    margin-left: 2px; /* Add some space between buttons */
    right: 0px;
  }
  
  .quick-play-button {
      width: 20px; /* Adjust the width as needed */
      height: 20px; /* Adjust the height as needed */
      background-color: green;
      display: inline-flex;
      justify-content: center; /* Center the content horizontally */
      align-items: center; /* Center the content vertically */
      margin: 0 10px; /* Margin to space buttons */
      cursor: pointer; /* Add pointer cursor to indicate interactivity */
  }
  
  .quick-play-button strong {
      display: block; /* Ensure the <strong> element takes full width */
      font-weight: bold;
  }
  
  .quick-play-button.active {
      background-color: limegreen; /* Change to bright green when active */
  }
  
  /* Reduce the font size and padding for the buttons */
  #prev-sequence,
  #next-sequence,
  button[for="mode-switcher"] {
      font-size: 12.5px; /* Adjust the font size as needed */
      padding: 5px 10px; /* Adjust the padding as needed */
      font-weight: bold; /* Make the text bold */
  }