#cv, body {background: #000;display: flex;justify-content: center;align-items: center;height: 100vh;}
/* Define the color palette */
.color-orange { background-color: #FFA500; } /* orange */
.color-coral { background-color: #FF5733; } /* coral */
.color-gold { background-color: #FFD700; } /* gold */
.color-coral2 { background-color: #FF7F50; } /* coral */
.color-lime { background-color: #00FF00; } /* lime */
.color-verydarkorange { background-color: #845011; } /* very dark orange */
.color-verydarkgreen { background-color: #001900; } /* very dark green */

.color-blue { background-color: #0000FF; } /* blue */
.color-darkorange { background-color: #FF8C00; } /* dark orange */
.color-verydarkblue { background-color: #00001E; } /* very dark blue */
.color-darkred { background-color: #4d0000; } /* dark red */
.color-red { background-color: #FF0000; } /* red */
.color-green { background-color: #008000; } /* green */
.color-purple { background-color: #800080; } /* purple */
.color-magenta { background-color: #FF00FF; } /* magenta */
.color-teal { background-color: #008080; } /* teal */
.color-maroon { background-color: #800000; } /* maroon */
.color-navy { background-color: #000080; } /* navy */
.color-olive { background-color: #808000; } /* olive */
.color-silver { background-color: #C0C0C0; } /* silver */
.color-indigo { background-color: #4B0082; } /* indigo */
